.section-top h1 {
    font-size: 6rem;
    text-align: center;
}

.container-input-search {
    justify-content: center;
}

.container-readingbooks {
    justify-content: center;
    /* border: 1px solid red; */
}

.container-cards {
    justify-content: center;
    /* border: 1px solid red; */
}

.card {
    width: 40rem;
}